html {
    height:100%;
    box-sizing: border-box;
}

body {
    height:100%;
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}

section {
    height: 100%
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page-header,
.page-footer {
    background-color: rgb(75, 70, 74);
    color: #fff;
    padding: 20px;
}

.page-body {
    padding: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

/* Style for the X and O symbols */
.x {
    color: red;
    font-size: 30px;
}

.o {
    color: blue;
    font-size: 30px;
}